.renderEditable {
    padding-left: 2px;
    display: inline-block;
    width: 50%;
    text-transform: capitalize;
}

/* remove outline and generate a box shadow and radius */
.renderEditable:focus {
    outline: none;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
}

/* by default do not show delete button */
.deleteButton {
    visibility: hidden;
}

/* on hover over row show cross button */
.wrapper:hover > .deleteButton {
    visibility: visible;
}